<section class="section footer" id="contact">
    <div class="container">
      <div class="footer__container">
        <div class="footer__block">
          <div class="footer__info">
            <a href="#" class="footer__logo"><strong>MoGo</strong></a>
            <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="footer__followers"><b>15k</b> followers</p>
          </div>
          <div class="footer__social social">
            <span class="social__text font--roboto">Follow us:</span>
            <span class="social__block">
              <a href="#"><i class="social__item item--fb"></i></a>
              <a href="#"><i class="social__item item--tw"></i></a>
              <a href="#"><i class="social__item item--in"></i></a>
              <a href="#"><i class="social__item item--pi"></i></a>
              <a href="#"><i class="social__item item--go"></i></a>
              <a href="#"><i class="social__item item--yo"></i></a>
              <a href="#"><i class="social__item item--dr"></i></a>
              <a href="#"><i class="social__item item--tr"></i></a>
            </span>
          </div>
          <div class="footer__subscribe">
            <form action="POST">
              <input type="text" placeholder="Your Email..." class="footer__input font--roboto">
              <button class="footer__btn color--white txt--up" type="submit" value="submit">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="footer__block">
          <h5 class="footer__heading txt--up"><strong>blogs</strong></h5>
          <div class="footer-blog">
            <a href="#" class="footer-blog__item">
              <img src="img/footer-blog1.png" alt="footer-blog-image" class="footer-blog__img">
              <div class="footer-blog__desc">
                <p class="footer-blog__head txt--up">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                <time class="footer-blog__date font--roboto" datetime="2016-01-09">9 Jan. 2016</time>
              </div>
            </a>
            <a href="#" class="footer-blog__item">
              <img src="img/footer-blog2.png" alt="footer-blog-image" class="footer-blog__img">
              <div class="footer-blog__desc">
                <p class="footer-blog__head txt--up">Consectetur adipiscing elit,  sed do eiusmod tempor</p>
                <time class="footer-blog__date font--roboto" datetime="2016-01-09">9 Jan. 2016</time>
              </div>
            </a>
            <a href="#" class="footer-blog__item">
              <img src="img/footer-blog3.png" alt="footer-blog-image" class="footer-blog__img">
              <div class="footer-blog__desc">
                <p class="footer-blog__head txt--up">Sed do eiusmod tempor  incididunt ut labore</p>
                <time class="footer-blog__date font--roboto" datetime="2016-01-09">9 Jan. 2016</time>
              </div>
            </a>
          </div>
        </div>
        <div class="footer__block">
          <h5 class="footer__heading txt--up"><strong>instagram</strong></h5>
          <div class="footer__insta insta">
            <img src="img/footer-insta1.png" alt="" class="insta__img">
            <img src="img/footer-insta2.png" alt="" class="insta__img">
            <img src="img/footer-insta3.png" alt="" class="insta__img">
            <img src="img/footer-insta4.png" alt="" class="insta__img">
            <img src="img/footer-insta5.png" alt="" class="insta__img">
            <img src="img/footer-insta6.png" alt="" class="insta__img">
            <img src="img/footer-insta7.png" alt="" class="insta__img">
            <img src="img/footer-insta8.png" alt="" class="insta__img">
            <img src="img/footer-insta9.png" alt="" class="insta__img">
          </div>
          <a href="#" class="insta__img-more font--robotto">View more photos</a>
        </div>
      </div>
      <p class="footer__sign"><strong>© 2016 MoGo free PSD template by </strong><a href="#" class="sign--style">Laaqiq</a></p>
    </div>
  </section>