<section class="section hero">
    <div class="container">
      <header class="header__hero">
        <a href="#" class="hero__logo color--white"><strong>MoGo</strong></a>
        <div class="nav__container">
          <ul class="nav__menu">
            <li class="nav__item"><a href="#about" class="nav__link color--white txt--up">about</a></li>
            <li class="nav__item"><a href="#service" class="nav__link color--white txt--up">service</a></li>
            <li class="nav__item"><a href="#work" class="nav__link color--white txt--up">work</a></li>
            <li class="nav__item"><a href="#blog" class="nav__link color--white txt--up">blog</a></li>
            <li class="nav__item"><a href="#contact" class="nav__link color--white txt--up">contact</a></li>
          </ul>
          <ul class="nav__icon">
            <li class="icon__item"><a href="#" class="icon__link color--white"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            <li class="icon__item"><a href="#" class="icon__link color--white"><i class="fa fa-search" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </header>
      <div class="welcome__logo">
        <p class="logo__title color--white font--kaushan">Creative Template</p>
        <p class="logo__desc color--white txt--up"><strong>Welcome to MoGo</strong></p>
        <button class="logo__btn color--white"><strong>Learn more</strong></button>
      </div>
      <ul class="welcome__slider">
        <li class="slider__item color--white txt--up"><strong class="slider__numb">01</strong> Intro</li>
        <li class="slider__item color--white txt--up"><strong class="slider__numb">02</strong> Work</li>
        <li class="slider__item color--white txt--up"><strong class="slider__numb">03</strong> About</li>
        <li class="slider__item color--white txt--up"><strong class="slider__numb">04</strong> Contacts</li>
      </ul>
    </div> 
  </section>